Required Libraries:

pandas
python-binance
ta
SQLAlchemy
psycopg2
plotly

Currently Required:
matplotlib
bayesian-optimization

Dev Required:
yapf
Style = {based_on_style: google, indent_width: 4, spaces_before_comment: 8, COLUMN_LIMIT: 200}
