<div class="container-fluid" style="text-align:center;">
	<div class="row my-2 justify-content-center">
		<div class="dropdown">
			<button id="db_dropdown" type="button" class="btn btn-lg btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Select Table
			</button>
			<div class="dropdown-menu" aria-labelledby="db_dropdown">
				<button *ngFor="let option of options" type="button" class="dropdown-item" (click)="select(option)" style="cursor:pointer;">{{option.NAME}}</button>
			</div>
		</div>
		<div *ngIf="loaded" class="col-sm-1"></div>
		<button *ngIf="loaded" class="btn btn-lg btn-secondary" (click)="refresh()">Refresh Table</button>
	</div>
	<div *ngIf="loaded" class="row my-2 justify-content-center">
		<h3>Table: {{selected.NAME}}</h3>
		<app-table class="col-md-10" [data]="table"></app-table>
	</div>
	<div *ngIf="loading" class="row my-2 justify-content-center">
		<h3> Loading: {{selected.NAME}}</h3>
	</div>
</div>
